.App{
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.leaflet-container {
  height: 100vh;
  width: 100vh;
}

.filterLabel {
    color: black;
    display: block;
    font-family: sans-serif;
}

.filterCheckbox{
    margin-right: 7px;
}

.leaflet-top, .leaflet-left{
    display: none;
}

#InnerFilterContainer{
    padding: 20px;
    margin: 0px;
}